# Build directories
build/
_build/
out/
cmake-build-*/

# Compiled binaries and objects
*.o
*.a
*.so
*.dll
*.exe
miniFSM        # 可执行文件名（根据你的 target 名调整）

# IDE / Editor files
.vscode/
.clangd/
.cmake/
*.swp
*.swo
.DS_Store
tags
cscope.*

# CMake temporary files
CMakeCache.txt
CMakeFiles/
CTestTestfile.cmake
cmake_install.cmake
install_manifest.txt
Makefile

# Logs and databases
*.log
*.db